<div class="password-container">
    <div class="password__header">Password Strength Meter</div>
    <div class="password__wrapper">
        <input
            [type]="toShowPassword ? 'text' : 'password'"
            [formControl]="passwordControl"
            placeholder="Create password"
			maxlength="30"
			minlength="4"
        />
        <i
            class="fa-solid"
			[class]="toShowPassword ? 'fa-eye-slash' : 'fa-eye'"
            (click)="toShowPassword = !toShowPassword"
        ></i>
    </div>
    <div class="password__meter" [ngClass]="meterClass">
        <span class="password__meter-bar first"></span>
        <span class="password__meter-bar second"></span>
        <span class="password__meter-bar third"></span>
    </div>
</div>
